@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Tangerine:wght@400;700&display=swap");
.roboto_nice {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.source-serif {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.tangerine-regular {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.fontlogo {
  font-family: "Island Moments";
  font-weight: 400;
  font-style: normal;
}
