@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");

.text-font {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  letter-spacing: 3px;
  font-style: normal;
}

@media screen and (max-width: 686px) {
    .nav-media{
      width: 100%;
      justify-content: center;
      gap:30px;
    }
    .nav-links-media{
      gap:30px;
    }
    .text-font-nav-media{
        font-size: 18px;
    }
  }


@media screen and (max-width: 500px) {
    .nav-media{
      width: 100%;
      justify-content: center;
      gap:10px;
    }
    .nav-links-media{
      gap:10px;
    }
    .text-font-nav-media{
        font-size: 14px;
    }
  }

